.navbar {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 15px;
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  right: 0;
}